<h3><mat-icon> attach_money</mat-icon> Create new rent</h3>
<form #form="ngForm" autocomplete="off" class="pb-4 pt-2 px-3 rounded"
 (submit)="onSubmit(form)" style="background-color:#eaebef">
      
            <input type="hidden" name="bikeID"
            [value]="service.formData.bikeID"/>
           
      <div class="row">
            <div class="form-group col-md-3 col-form-label-sm">
                  <label>Bike name</label>
                  <input name="bikeName" #bikeName="ngModel" 
                  [(ngModel)]="service.formData.bikeName"
                  class="form-control mt-1" placeholder="Bike name">   
            </div>

            
            <div class="form-group col-md-3 col-form-label-sm">
                  <label>Bike type</label>
                  <select class="form-control mt-1" name="bikeType" #bikeType="ngModel" 
                        [(ngModel)]="service.formData.bikeType"
                        placeholder="Bike type">
                        <option>Custom</option>
                        <option>Mountain</option>
                        <option>Road</option>                  
                  </select>                       
            </div>

            
            <div class="form-group col-md-3 col-form-label-sm">
                  <label>Bike price</label>
                  <input name="bikePrice" #bikeID="ngModel" 
                  [(ngModel)]="service.formData.bikePrice"
                  class="form-control mt-1" placeholder="Bike price">   
            </div>
            
      
            <div class="form-group col-md-3 text-center col-form-label-sm">                      
                  <button type="submit" class="btn btn-success px-5 mt-4">Submit rent</button>        
            </div>           
            
      </div>
      <input type="hidden" name="bikeRented"
            [value]="service.formData.bikeRented"/>

</form>


